<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>HiYouth嗨柚青年旅行官网-青年旅行,义工旅行,国际游学,青年活动,社会实践</title>
    <meta name="Keywords" content="嗨柚,hiyouth,青年旅行,义工旅行,打工换宿,国际义工,国际游学,毕业旅行,义工生活,穷游">
    <meta name="Description"
          content="“HiYouth嗨柚青年旅行”是一款集旅行信息发布、学习实践、交流分享、交友结伴、活动自组、旅游周边于一体的青年开放式生态旅行产品，打造专注于开阔青年人视野，丰富青年人课余生活和知识的深度游学平台。">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../css/share/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../css/media.css"/>
    <link rel="stylesheet" type="text/css" href="../util/datepicker/css/datepicker/base.css">
    <link rel="stylesheet" type="text/css" href="../util/datepicker/css/datepicker/dark.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></head>
<body>
    <!-- header-->
    <div class="header">
        <div class="header-content">
            <div class="headerWrapper fix">
                <div class="header-content-logo fl">
                    <a href="index.html">
                        <img src="../img/header/logo.png" alt="logo"/>
                    </a>
                </div>
                <div class="header-content-nav fr">
                    <ul>
                        <li>
                            <a href="index.html" class="active">首页</a>
                        </li>
                        <li>
                            <a href="about-us.html">关于我们</a>
                        </li>
                        <li>
                            <a id="x-place-1">加载中</a>
                        </li>
                        <li>
                            <a id="x-place-2">加载中</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /header -->
    <!--banner-->
    <div class="banner">
        <div class="banner-img">
            <ul class="slide-list fix">
                <li>
                    <img class="lyimg winner-201606" style="cursor: pointer" src="" data-url="http://hiyouther.img-cn-shanghai.aliyuncs.com/img/banner/banner0.jpg@!OIHNKJLGiufadsfkl_fewjodfk_jflsjfrwelirjevnxclkirraesdfj" alt="loading..."/>
                </li>
                <li>
                    <img class="lyimg" src="" data-url="http://hiyouther.img-cn-shanghai.aliyuncs.com/img/banner/bn1.jpg@!OIHNKJLGiufadsfkl_fewjodfk_jflsjfrwelirjevnxclkirraesdfj" alt="loading..."/>
                </li>
                <li>
                    <img class="lyimg" src="" data-url="http://hiyouther.img-cn-shanghai.aliyuncs.com/img/banner/bn2.jpg@!OIHNKJLGiufadsfkl_fewjodfk_jflsjfrwelirjevnxclkirraesdfj" alt="loading..."/>
                </li>
                <li>
                    <img class="lyimg" src="" data-url="http://hiyouther.img-cn-shanghai.aliyuncs.com/img/banner/bn4.jpg@!OIHNKJLGiufadsfkl_fewjodfk_jflsjfrwelirjevnxclkirraesdfj" alt="loading..."/>
                </li>

            </ul>
        </div>
        <div class="slide-wrap">
            <a href="javascript:void(0);" class="archer-left">&lt;</a>
            <a href="javascript:void(0);" class="archer-right">&gt;</a>

            <div class="content">
                <ul class="slide-list">
                    <li class="winner-201606" style="cursor: pointer;height: 500px">
                        <div>
                            <br>
                            <span style="visibility: hidden">嘘~</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h1>陪你风花雪月 伴你颠沛流离</h1>

                            <p>——— HiYouth ———</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h1>把一成不变的生活留给那些庸俗的人</h1>

                            <p>——— HiYouth ———</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h1>给你最美的义工旅行</h1>

                            <p>与嗨柚同行 青春不老 我们不散</p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- /banner -->
    <!-- 热门地区-->
    <div class="hot-area">
        <div class=" two-auto">
            <div class="two-left">
                <p>热门地区:</p>
            </div>
            <div class="two-right fix">
                <ul>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">全部</a>
                    </li>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">大理</a>
                    </li>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">丽江</a>
                    </li>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">涠洲岛</a>
                    </li>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">重庆</a>
                    </li>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">青岛</a>
                    </li>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">青海</a>
                    </li>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">厦门</a>
                    </li>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">海南</a>
                    </li>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">桂林</a>
                    </li>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">广东</a>
                    </li>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">贵州</a>
                    </li>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">湖北</a>
                    </li>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">四川</a>
                    </li>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">山东</a>
                    </li>
                    <li>
                        <a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">湖南</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /热门地区 -->
    <!-- 筛选地区 -->
    <div class="two-out shaixuan bg-white">
        <div class="two-auto">
            <div class="two-left">
                <p>综合筛选:</p>
            </div>
            <div class="two-right input-group">
                <span>
                    <input type="text" name="place" id="place" value="" placeholder="请输入地点名称：例如“大理”"/>
                </span>
                <span>
                    <input type="text" name="year" id="year" value="" readonly placeholder="请选择起始日期"/>
                </span>
                <span>
                    <input type="text" name="month" id="month" value="" readonly  placeholder="请选择结束日期"/>
                </span>
                <a class="search-btn" href="javascript:void(0);">搜索</a>
                <!-- 上面的搜索按钮 即使在3个筛选里面只输入其中一个 加上 active类变为主题色--> </div>
        </div>
    </div>
    <!-- /筛选地区  -->
    <!--containner-wrapper -->
    <div class="container-wrapper">
        <!--推荐地区 -->

        <h1 class="title">
            <img src="../img/icons/haiyouth.png" alt="icon"/>
            推荐招聘
            <a class="fr" id="another"
                                                                              href="javascript:void(0);">[换一批]</a>
        </h1>

        <div id="feature" class="section fix"></div>

        <!-- .推荐地区-->
        <!--全部地区 -->

        <h1 class="title mt36">
            <img src="../img/icons/haiyouth.png" alt="嗨柚ICON"/>
            <span id="all-area">全部招聘</span>
        </h1>

        <div id="all" class="section fix"></div>

        <!-- .全部地区 -->
        <!--
    pagination
    -->
        <div class="pagination-wrapper">
            <ul class="pagination">
                <li class="active">
                    <a href="javascript:void(0);" class="pre"></a>
                </li>
                <li>
                    <a href="javascript:void(0);">1</a>
                </li>
                <li>
                    <a href="javascript:void(0);">2</a>
                </li>
                <li class="active">
                    <a href="javascript:void(0);">3</a>
                </li>
                <li>
                    <a href="javascript:void(0);">4</a>
                </li>
                <li>
                    <a href="javascript:void(0);">5</a>
                </li>
                <li>
                    <a href="javascript:void(0);">6</a>
                </li>
                <li>
                    <a href="javascript:void(0);">7</a>
                </li>
                <li>
                    <a href="javascript:void(0);">8</a>
                </li>
                <li>
                    <a href="javascript:void(0);">9</a>
                </li>
                <li>
                    <a href="javascript:void(0);">10</a>
                </li>
                <li>
                    <a href="javascript:void(0);">11</a>
                </li>
                <li class="active">
                    <a href="javascript:void(0);" class="next"></a>
                </li>
                <li>
                    跳转到 ：&nbsp;
                    <input type="text" id="jumpTo"/>
                </li>
                <li>
                    <a href="javascript:void(0);" class="go">GO</a>
                </li>
            </ul>
        </div>
        <!--
    .pagination
    --> </div>
    <!-- /container wrapper -->
    <!-- toolbor -->
    <div class="toolbar">
        <a id="scrollTop" href="javascript:void(0);"></a>
    </div>
    <!-- /toolbor -->
    <!-- footer-->
    <div class="footer">
        <div class="footer-content">
            <div class="footerWrapper">
                <div class="footer-content-text ">
                    <ul>
                        <li>
                            <h2>快速导航</h2>

                            <p>
                                <a href="javascript:void(0);">我是义工</a>
                            </p>

                            <p>
                                <a href="javascript:void(0);">我是商家</a>
                            </p>

                            <p>
                                <a href="javascript:void(0);">友情链接</a>
                            </p>
                        </li>
                        <li>
                            <h2>帮助中心</h2>

                            <p>
                                <a href="javascript:void(0);">常见问题</a>
                            </p>

                            <p>
                                <a href="contract.html" target="_blank">用户协议</a>
                            </p>
                        </li>
                        <li>
                            <h2>反馈</h2>

                            <p>
                                <a href="javascript:void(0);">意见建议</a>
                            </p>

                            <p>
                                <a href="javascript:void(0);">举报</a>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="footer-content-conact">
                    <ul>
                        <li class="hide">
                            <img src="../img/footer/footer1.png" alt="微博图标"/>

                            <p>嗨柚旅行微博</p>
                            <a href="http://weibo.com/hiyouther" title="点击关注我们的微博">
                                <img src="../img/footer/footer2.png"
                                                                                    alt="微博图标"/>
                            </a>
                        </li>

                        <li>
                            <img class="erweima" src="../img/footer/8cmerweima.jpg" alt="微信公众号二维码"/>

                            <p>嗨柚微信公众号</p>

                            <p>hiyouthtour</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright&copy;2015-2016 hiyouther.com All Rights Reserved</p>

            <p>
                <a href="http://www.miitbeian.gov.cn" title="http://www.miitbeian.gov.cn">渝ICP备16003213号-1</a>
                <a id="_pinganTrust" target="_blank" href="http://c.trustutn.org/show?type=1&sn=201606121007155553">
                    <img src="http://c.trustutn.org/images/cert/cert_0_2.png" />
                </a>
            </p>
        </div>
    </div>

    <style>
    .card-docker{
        position: relative;
        display: block;
        width: 25%;
        box-sizing: border-box;
        padding: 5px;
        float: left;

    }
    .e-card{
        height: 245;
        width: 100%;
        overflow: hidden;
        background-color: #ffffff;
        -webkit-box-shadow: 0 0 5px gray;
        -moz-box-shadow: 0 0 5px gray;
        box-shadow: 0 0 5px gray;
    }
    .e-img{
        width: 100%;
        height: 174px;
        position: relative;
        overflow: hidden;
    }
    .e-img img{
        width:100%;
    }


</style>
    <script type="text/html" id="tpl-hotel-item">
    <% if( data!= undefined && data.length != 0 ) {%>
    <% for(var i = 0; i < data.length; i++){ %>
    <!--<div class="card-docker">-->
        <!--<div class="e-card">-->
            <!--<div class="e-img">-->
                <!--<img src="<%=data[i].photo[0]|| '' %>" alt="客栈图片"/>-->
            <!--</div>-->
            <!--<div clas="e-text">-->
                <!--<h1 class="text-theme"><a class="ell"-->
                                          <!--href="./recruitdetail.jsp?id=<%=data[i].rid%>&hid=<%=data[i].hid %>"-->
                                          <!--target="_blank" title="<%=data[i].hname%>"><%=data[i].hname%></a>-->
                    <!--<% if(data[i].authentic == 0){ %>-->
                    <!--<% }else if(data[i].authentic == "1"){ %>-->
                    <!--<img src="../img/icons/storeCi.png" alt="商家已认证" title="商家已认证">-->
                    <!--<% }else if(data[i].authentic == "2"){ %>-->
                    <!--<img src="../img/icons/idcardCi.png" alt="身份证已认证" title="身份证已认证">-->
                    <!--<% }else if(data[i].authentic == "4"){ %>-->
                    <!--<img src="../img/icons/idcardCi.png" alt="身份证已认证" title="身份证已认证">-->
                    <!--<img src="../img/icons/storeCi.png" alt="商家已认证" title="商家已认证">-->
                    <!--<% } %>-->
                <!--</h1>-->
                <!--<p class="score-p">整体评分：-->
                    <!--<%for(var p = 0; p < data[i].score; p++){%>-->
                    <!--<img src="../img/icons/fullScore.png" alt="star">-->
                    <!--<%}%>-->
                    <!--<%for(var p = data[i].score; p < 5; p++){%>-->
                    <!--<img src="../img/icons/zeroScore.png" alt="star">-->
                    <!--<%}%>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="e-detail">-->
                <!--<h1 class="text-theme"><a class="ell"-->
                                          <!--href="./recruitdetail.jsp?id=<%=data[i].rid%>&hid=<%=data[i].hid %>"-->
                                          <!--target="_blank" title="<%=data[i].name%>"><%=data[i].name%></a></h1>-->
                <!--<p class="ell" title="需要人数： <%= data[i].number %>">需要人数： <%= data[i].number %></p>-->
                <!--<p>需要时间：<%= data[i].month %></p>-->
                <!--<p class="score-p">整体评分：-->
                    <!--<%for(var p = 0; p < data[i].score; p++){%>-->
                    <!--<img src="../img/icons/fullScore.png" alt="star">-->
                    <!--<%}%>-->
                    <!--<%for(var p = data[i].score; p < 5; p++){%>-->
                    <!--<img src="../img/icons/zeroScore.png" alt="star">-->
                    <!--<%}%>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <div class="pocker" >
        <div class="poster">
            <img src="<%=data[i].photo[0]|| '' %>" alt="客栈图片"/>
            <div class="poster-title">
                <h2><%=data[i].hname%></h2>
            </div>
            <%if(data[i].ifcollect){%>
            <a class="pin"><img src="../img/icons/favorite.png" alt="收藏"/>已收藏</a>
            <%}else{%>

            <%}%></div>
        <div class="poster-body">

            <div class="content">
                <h1 class="text-theme"><a class="ell" href="./recruitdetail.jsp?id=<%=data[i].rid%>&hid=<%=data[i].hid %>" target="_blank" title="<%=data[i].name%>"><%=data[i].name%></a>
                    <% if(data[i].authentic == 0){ %>
                    <% }else if(data[i].authentic == "1"){ %>
                    <img src="../img/icons/storeCi.png" alt="商家已认证" title="商家已认证">
                    <% }else if(data[i].authentic == "2"){ %>
                    <img src="../img/icons/idcardCi.png" alt="身份证已认证" title="身份证已认证">
                    <% }else if(data[i].authentic == "4"){ %>
                    <img src="../img/icons/idcardCi.png" alt="身份证已认证" title="身份证已认证">
                    <img src="../img/icons/storeCi.png" alt="商家已认证" title="商家已认证">
                    <% } %></h1>

                <p class="ell" title="需要人数： <%= data[i].number %>">需要人数： <%= data[i].number %></p>

                <p>需要时间：<%= data[i].month %></p>

                <p class="score-p">整体评分：
                    <%for(var p = 0; p < data[i].score; p++){%>
                    <img src="../img/icons/fullScore.png" alt="star">
                    <%}%>
                    <%for(var p = data[i].score; p < 5; p++){%>
                    <img src="../img/icons/zeroScore.png" alt="star">
                    <%}%></p>
            </div>
        </div>
    </div>
    <% }%>
    <%} else {%>
    <p class="text-theme no_data">:( 啊哦,没有数据!</p>
    <%}%></script>
    <script type="text/html" id="tpl-tags">
    <li><a data-sid="all" href="javascript:void(0);" title="再次点击后取消选中">全部</a></li>
    <% if( data!= undefined && data.length != 0 ) {%>
    <% for(var i = 0; i < data.length; i++){ %>
    <li><a data-sid="<%=data[i].id%>" href="javascript:void(0);" title="再次点击后取消选中"><%=data[i].name%></a></li>
    <%}%>
    <%}else {%>

    <%}%></script>
    <script src="../js/lib/require.js"></script>
    <script type="text/javascript" rel="script">
    require.config({
        baseUrl: "../js",
        paths: {
            jquery: 'lib/jq',
            domReady: 'lib/require.domready'
        }
    });
    require(['page/index'], function (index) {
        index.init()
    });
</script>

</body>

</html>