@charset "utf-8";

body, html {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.header .header-content {
    background-color: #FFFFFF;
}

.container-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    margin-top: 15px;
    margin-bottom: 30px;
}

.card-list li {
    padding: 20px 20px;
    line-height: 40px;
}

.card-list li p{
    font-size: 16px;
    width: 240px;
}
.card-list li a.name:hover{
    color:#16d0d8;
}
.card-left {
    margin-left: 19px;
    letter-spacing: 1px;
}

.card-left span {
    font-size: 14px;
    margin-right: 19px;
}

.card-center {
    margin: 0 187px 0 112px;
}

.head-area {
    padding: 10px 26px 12px;
}

.card-right {
    text-align: center;
    vertical-align: middle;
}

.pagination-wrapper {
    margin-top: 50px;
}

@media screen and (max-width: 768px){
.portrait-70{
    display: none;
}.card-right {
     display: block;
     width: 100%;
 }
}