@charset "utf-8";

.error {
    display: none
}

body, html {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container .hide {
    display: none;
}

.header .header-content {
    background-color: #FFFFFF;
}

.header-content {
    border-bottom: solid 2px rgb(16, 208, 216);
}

.container-wrapper {
    max-width: 1000px;
    margin: 0 auto;

}

.text-orange {
}

.text-orange:hover {
    color: rgb(255, 170, 1);
}

.container {
    margin-top: 15px;
}

.profile {
    position: relative;
    font-size: 16px;
    background-color:  #F9F9F9;
    margin-bottom: 50px;
}

.profile-nav {
    width: 138px;
}

.portrait-wrapper {
    position: relative;
    width: 138px;
    height: 121px;
    text-align: center;
    cursor: pointer;
    padding-top: 29px;
    overflow: hidden;
}

.portrait {
    position: relative;
    width: 110px;
    height: 110px;
    line-height: 110px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 4px;
    margin-left: 14px;
    overflow: hidden;
}

.portrait img {
    width: 100%;
    height: 100%;
}

.portrait > span {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.portrait:hover span {
    display: inline;
    background-color: #000;
    color: #fff;
    opacity: 0.5;
    filter: Alpha(opacity=0);
}

.profile-nav {
    text-align: center;
}

.profile-nav > h2 {
    margin-bottom: 17px;
}

.profile-nav .idcardCi {
    padding-bottom: 12px;
    border-bottom: dashed 1px #E3E3E3;
    margin-bottom: 0;
}

.btn-group > p {
    position: relative;
    text-align: center;
    height: 58px;
    line-height: 58px;
    margin: 0;
}

.btn-group p:hover {
    background-color: #16D0D8;
}

.btn-group > p a {
    width: 100%;
    text-align: center;
    height: 100%;
    display: inline-block;
}

.btn-group p:hover a {
    color: #FFFFFF;
}

.btn-group > p span {
    position: absolute;
    margin-left: -35px;
    color: rgb(16, 208, 216);
}

.btn-group p:hover span {
    color: #FFFFFF;
}

.profile-edit {
    margin-left: 138px;
    padding: 25px;
    overflow: hidden;
}

.profile-edit h1 a {
    position: absolute;
    right: 14px;
    font-size: 16px;
    color: #fff;
}

table {
    font-size: 16px;
}

table tr {
    height: 47px;
    line-height: 47px;
}

table tr th {
    text-align: right;
    word-wrap: normal;
    white-space: pre;
}

table tr th.vat{
    vertical-align: top;
}


table tr th > span {
    margin-left: 5px;
}
.resume table tr td > span{
    display:block;
}
table tr td > span img{
    vertical-align: middle;
    width: 20px;
}
table tr td {
    padding-left: 15px;
    position: relative;
}

td input[type="text"] {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    width: 258px;
    border-radius: 4px;
    border: solid 1px #E3E3E3;
    font-size: inherit;
}

td input[type="radio"] {
    margin-right: 0px;
}

.woman, .man{
    margin-left: 10px;
    margin-right: 70px;
}


select {
    margin-right: 13px;
    /* outline: none; */
}

textarea {
    width: 530px;
    height: 70px;
}
.tag-pane{
    display: none;
    border: dashed 2px #16D0D8;
    margin-top: 20px;
}
.labels {
    list-style: none;
}

.labels li {
    float: left;
    box-sizing: border-box;
    margin: 0 3px;
    position: relative;
}

.t-del{
    position: absolute;
    display: none;
    top: 0;
    right: -6px;
    line-height: 12px;
    font-size: 13px;
    width: 15px;
    height: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    color: #fff;
    background-color: #FD4644;
}

.head-area {
    padding: 10px 18px;
}

.edit-display input.disabled[type="radio"]{
   display: none;
}

.edit-display .disabled {
    color: inherit !important;
    border: none;
}

.edit-display select.disabled {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.h-auto {
    height: auto;
}

.profile-edit table tr {
    transiton: all .5s;
}

.edit-area > p {
    line-height: 48px;
    display: inline;
}

.btn-menu {
    padding: 23px 11px;
}

.resume {
    margin-bottom: 50px;
}

.resume .show-summary,#show-slogan-p{
    white-space: pre-wrap;
    line-height: 23px;
}
.display{
    width: 200px;
    position: absolute;
    padding: 0;
    top: 94px;
    right: 36px;
}
.display img{
    max-width: 100%;
    display: block;
}


.display span {
    position: absolute;
    display: none;
    width: 100%;
    height: 0;
    line-height: 30px;
    bottom: 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: black;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    -webkit-transition:all .5s;
    transition:all .5s;
}
.display:hover span{
    display: block;
    height: 30px;
}

#js-upload{
    width: 200px;
    position: absolute;
    padding: 30px 71px;
    box-sizing: border-box;
    top: 94px;
    right: 36px;
    border: solid 1px #E3E3E3;
}
.resume .edit-display {
    padding: 20px 30px;
    line-height: 47px;
}

.name {
    width: 250px;
}
.short{
    width: 74px;
}
td input[type="text"].short{
    width: 231px;
}
.card-list li {
    box-sizing: border-box;
    padding: 20px;
    height: 120px;
    line-height: 40px;
    font-size: 16px;
    transition: 1s;
    border: solid 2px #fff;
}

.card-left > p span {
    margin-right: 10px;
}

.card-left {
    width: 250px;
}

.card-right p {
    display: block;
    width: 300px;
    float: left;
}

.card-center {
    width: 250px;
}
.c-a{
    position: relative;
    line-height: 0;
}
.c-a img{
    width: 17px;
}


.resume .tips{
    font-size: 12px;
    color: #505050;
}
.c-detail{
    display: none;
    position: absolute;
    white-space: nowrap;
    top: -40px;
    left: 0;
    padding: 15px;
    line-height: 1px;
    background: #63ade3;
    border-radius: 4px;
}
.c-a:after{
    content: '';
    position: absolute;
    display: none;
    top: -10px;
    left: 1px;
    width: 0;
    height: 0;
    line-height: 1px;
    border: solid 6px transparent;
    border-top: solid 6px #63ade3;
}
.c-a:hover .c-detail{
    display: inline;
}
.c-a:hover:after{
    display: inline;
}
.card-right {
    width: 250px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.pagination-wrapper {
    margin: 50px 0; /* padding: 40px; */
}

.judge {
    position: absolute;
    background-color: #ffffff;
    width: 215px;
    height: 250px;
    -webkit-box-shadow: 0 6px 21px 1px gray;
    -moz-box-shadow: 0 6px 21px 1px gray;
    -ms-box-shadow: 0 6px 21px 1px gray;
    box-shadow: 0 6px 21px 1px gray;
    top: 0;
    padding: 30px;
}

.judge ul {
    display: table;
    position: relative;
}

.judge ul li {
    display: block;
    width: 214px;
    font-size: 16px;
    line-height: 22px;
    margin: 6px 0;
}

.judge ul li a {
    vertical-align: middle;
}

.judge ul li a img {
    margin: 0 5px;
}

.judge p {
    text-align: center;
    margin-top: 14px;
}
.judge textarea{
    width: 190px;
}


@media screen and   (max-width: 768px){
    .portrait-wrapper{
        width: 100%;
    }
    .portrait{
        float: none;
        width: 120px;
        height: 120px;
        margin-left: 0;
        text-align: center;
        display: inline-block;
    }
    .portrait img{
        width: 110px;
        height: 110px;
    }
    .profile-nav {
        width: 100%;
        float: inherit;
        box-sizing: border-box;
    }
    .btn-group:after{
        content: '';
        display: table;
        clear: both;
    }
    .btn-group p {
        width: 50%;
        height: 40px;
        line-height: 40px;
        float: left;
    }
    .profile-edit{
        width: 100%;
        margin-left: 0;
        box-sizing: border-box;
        padding: 5px;
    }
    table{display: block}
    table  tr{
        height: auto;
        line-height: 1.1;
        display: block;
    }
    table tbody{
        display: block;
    }
    th{
        display: inline-block;
        margin-top: 10px;
        font-weight: bold;
    }
    table tr td{
        padding-left: 0;
        display: block;
    }

    .display{
        width: 100%;
        position: initial;
    }
    .display span{
        position: relative;
        display: block;
        height: 30px;
    }
    textarea{
        width: 100%;
        box-sizing: border-box;
    }
    select{
        width: 110px;
    }
    td input[type="text"]{
        width: 100%;
        box-sizing: border-box;;
    }
    .tag-pane{
        display: none;
    }
    .labels{
        margin: 24px 0;
    }
    .labels li {
        line-height: 40px;
        position: relative;
    }
    .t-del{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        line-height: 14px;
        width: 15px;
        height: 15px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        background-color: #F7758D;
    }
    .resume .edit-display{
        padding: 2px;
    }

    ul.card-list li {
        border-top: solid 2px #16d0d8;
        height: auto;
    }
    .card-left{
        display: block;
        width: auto;
    }
    .card-left span:nth-child(2){
        float: right;
    }
    .name{
        width: auto;
    }
    .card-center{
        color: #949494;
    }
    .card-center p {
        float: left;
        margin-right: 10px;
    }
    .card-right{
        width: 100%;
        display: block;
        display: inline-flex;
    }

    .card-right p {
        display: inline-block;
        width: 100%;

    }
    a.text-orange{
        display:inline;
        padding: 0;
    }
    .card-list p,.hotel-list p, table ,.profile{
        font-size: 14px;
    }
}